* {
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    background-color: #434445;
}

.select_block, .radio_group, .check_pair{
    border: 1px solid #434445;
    box-sizing: border-box;
}

.data {
    min-width: 80vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    width: 80%;
    margin: 15px;
    min-height: 3vw;
    text-align: center;
    color: lightgray;
}

.gen_data {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 100vw;
}

.key_block {
    padding: 5%;
    width: 25vw;
    border-radius: 5px;
    background-color: #dfdfdf;
}

.buttons_block {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.button {
    width: 40%;
}

.small_button {
    margin: 2px 3px;
}

.result_block {
    padding: 10%;
}

.radio_group {
    display: flex;
    flex-direction: column;
}

.radio_group p{
    align-self: center;
    padding-bottom: 5px;
}

.radio_item_block {
    display: flex;
    align-items: center;
    padding: 5px;
}

.select_block, .radio_group {
    width: inherit;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 2px 0;
}

.select_option_block {
    width: 70%;
    margin-top: 5px;
}

.check_blocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.check_pair {
    display: flex;
    align-items: center;
    width: 40%;
    border-radius: 10px;
    margin: 3px 5px;
    padding: 5px 0;
    padding-left: 3%;
}

.check_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
* label {
    text-align: center;
}