* {
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    background-color: #434445;
}
.select_block, .radio_group, .check_pair{
    border: 1px solid #434445;
    box-sizing: border-box;
}
.size_n_pos {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30vw;
    min-width: 25vw;
    margin: 10px 0;
}
.result_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    padding: 5px;
    margin: 10px 0;
    background-color: #dfdfdf;
    border-radius: 10px;
    border: 1px solid black;
    height: inherit;
}
.data {
    min-width: 80vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.description {
    width: 80%;
    margin: 5px;
    min-height: 20px;
    text-align: center;
    color: lightgray;
}
.gen_data {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90vw;
}
.key_block {
    padding: 5%;
    background-color: #dfdfdf;
    border-radius: 10px;
    border: 1px solid black;
    height: 100%;
}
.buttons_block {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}
.button {
    width: 40%;
    height: 40px;
}
.small_button {
    margin: 2px 3px;
    width: 40px;
    height: 30px;
}
.radio_group {
    display: flex;
    flex-direction: column;
}
.radio_group p{
    align-self: center;
    padding-bottom: 5px;
}
.radio_item_block {
    display: flex;
    align-items: center;
    padding: 5px;
}
.select_block, .radio_group {
    width: inherit;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 2px 0;
}
.select_option_block {
    width: 70%;
    margin-top: 5px;
}
.check_blocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.check_pair {
    display: flex;
    align-items: center;
    width: 40%;
    border-radius: 10px;
    margin: 3px 5px;
    padding: 5px 0;
    padding-left: 3%;
}
.check_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    min-height: 25px;
    margin-bottom: 5px;
    min-width: 100%;
}
.table {
    min-width: 100%;
    height: inherit;
    min-height: 80%;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
}
* label {
    text-align: center;
}
.text_block {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}
.text_box, .text_area {
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    min-height: 30px;
    width: 100%;
    margin: 10px 0;
    text-align: center;
    padding: 10px;
    resize: none;
}
.input_rdata {
    width: 100%;
    height: 100%;
}
.text_box::placeholder{
    text-align: center;
    padding: 5px;
}
.text_area::placeholder {
    text-align: center;
    padding: 5px;
    justify-content: center;
}
.footer {
    width: inherit;
    min-height: 50px;
    background-color: #323334;
    color: #6d6d6d;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1366px) {
    .key_block {
        padding: 2px 5px;
    }
    .select_block, .radio_group {
        padding: 2px 10px;
    }
    .radio_item_block {
        padding: 0;
    }
    .buttons_block {
        margin: 5px;
    }
    .check_pair {
        padding: 2px 0;
        padding-left: 3%;
    }
    .select_option_block {
        margin-top: 2px;
    }
    .text_box, .text_area {
        margin: 5px;
    }
    .size_n_pos {
        margin: 0;
    }
    .result_block {
        margin: 0;
    }
    .gen_data {
        width: 100vw;
    }
}